/***********************************
GLOBAL
************************************/

$bodyBgColor: #f9f9ff;
$mainFontColor: #5E5C7F;
$mainFontFamily: 'Rubik',
sans-serif;
$showResponsiveNavigation: 1200px;

/***********************************
HEADER
************************************/
$mainHeaderColor: #454360;

/***********************************
NAVIGATION
************************************/

$menuBgColor: #353353;
$menuBorderColor: rgba(255, 255, 255, 0.1);
$iconColor: #ffd15c;
$navFontColor: #fff;
$navFontHoverColor: #ffd15c;
$navCopyrightColor: #9c9ab3;
$hamburgerBgColor: #353353;
/***********************************
HOME
************************************/

$homeBgColor: #353353;
$homeTextColor: #fff;
$homeTextHoverColor: #ffd15c;
$homeMouseColor: #fff;

/***********************************
ABOUT ME
************************************/

$aboutCloudBg: #fff;
$progressBgColor: #f1f1f1;
$progressBarYellow: #ffd15c;
$progressBarRed: #ff0000;
$progressBarBlue: #2600ff;